*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 15px;
  background-color: #34333f;
  height: 100vh;

  text-align: center;
  text-transform: uppercase;
  color: #ddd;
}
span{

  text-transform: capitalize;
}

select{
  background-color: #ddd;
  padding: 10px;
}

#keyboard{
  position: relative;

  background-color: #ddd;
  height: calc(100vw/3);
  width: 100%;

  display: flex;
}

#sup-keys{
  position: absolute;

  display: flex;
  height: 75%;
  width: 100%;
}

.div-keys{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#left{
  width: 75%;
}

.container-keys{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#left .container-keys{
  width: calc((100% / 9) * 5);
}

#right .container-keys{
  width: calc((100% / 12) * 8);
}

.keys{
  padding: 15px;
  width: 100%;
  
  border: 1px solid #34333f;

  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
}

#left .container-keys .keys{
  width: calc((100% / 5) * 2);
}

#right .container-keys .keys{
  width: calc((100% / 8) * 2);
}

.white{
  color: #23222f;
}

.black{
  background-color: #23222f;
  width: 20%;
}

.instructions{
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li{
  margin: 5px;
  font-weight: bold;
  text-align: left;
}

.active{
  background-color: #33a;
  color: #fff;
}
